*,
*::after,
*::before {
  box-sizing: border-box;
  transition: 0.3s;
}

/* Sora */
@font-face {
  font-family: "Sora";
  font-weight: 100;
  font-display: swap;
  src: url(./fonts/Sora/Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/Sora/ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/Sora/Light.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Sora/Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/Sora/Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/Sora/SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/Sora/Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 800;
  font-display: swap;
  src: url(./fonts/Sora/ExtraBold.ttf) format("truetype");
}

/* Helvetica Neue */
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Helvetica/HelveticaNeue-Extended.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Helvetica/HelveticaNeue-Medium.otf") format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Helvetica-Neue";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
