*,
*::after,
*::before {
  box-sizing: border-box;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}

/* Sora */
@font-face {
  font-family: "Sora";
  font-weight: 100;
  font-display: swap;
  src: url(./fonts/Sora/Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/Sora/ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/Sora/Light.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Sora/Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/Sora/Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/Sora/SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/Sora/Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  font-weight: 800;
  font-display: swap;
  src: url(./fonts/Sora/ExtraBold.ttf) format("truetype");
}

/* Helvetica Neue */
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Helvetica/HelveticaNeue-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Helvetica/HelveticaNeue-Light.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Helvetica/HelveticaNeue-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Helvetica/HelveticaNeue-Extended.otf") format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Helvetica Neue";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #29a47a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #29a47a;
}


.appContainer {
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1250px) {
  .appContainer {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media screen and (max-width: 800px) {
  .appContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
